<!-- <mat-grid-list cols="4">
    <mat-grid-tile-header>Shopping Cart</mat-grid-tile-header>
    <mat-grid-tile colspan="3">
        <mat-list role="list">
            <div *ngFor="let product of cartItens">
                <mat-card class="product-display"> 
                    <div class="product-image-limits"><img mat-card-image class="product-image" src={{product.imageUrl}} alt="Picture of {{product.name}}"></div>
                    <mat-card-content>
                    <p>
                        {{product.name}}
                    </p>
                    <h3>{{product.price}}</h3>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon></button>
                    <button mat-raised-button color="accent"><mat-icon>info</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1"></mat-grid-tile>
</mat-grid-list> -->
<div *ngFor="let product of cartItens">
    <mat-card class="product-display"> 
        <div class="product-image-limits"><img mat-card-image class="product-image" src={{product.imageUrl}} alt="Picture of {{product.name}}"></div>
        <mat-card-content>
        <p>
            {{product.name}}
        </p>
        <h3>{{product.price | currency:'USD' }}</h3>
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="warn" (click)="removeFromCart(product)"><mat-icon>delete</mat-icon></button>
        <button mat-raised-button color="accent"><mat-icon>info</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>