.product-list {
  margin: auto;
}

.product-display {
    max-width: 250px;
    height: 360px;
    margin: 10px;
    padding: 20px;
  }
  
.product-image {
    max-height:250px;
    max-width: 250px;
    padding: 0;
    margin: 5px 5px 5px 5px;
}

.product-image-limits{
  height: 250px;
  padding: 0;
}

