<mat-grid-list class="product-list" cols="{{productsToDisplay}}" rowHeight="500px">
<div *ngFor="let product of products">
    <mat-grid-tile> <mat-card class="product-display">
        <div class="product-image-limits"><img mat-card-image class="product-image" src={{product.imageUrl}} alt="Picture of {{product.name}}"></div>
        <mat-card-content>
          <p>
            {{product.name}}
          </p>
          <h3>{{product.price | currency:'USD'}}</h3>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="addToCart(product)" (click)="showMessage('Added to cart')"><mat-icon>add_shopping_cart</mat-icon></button>
          <button mat-raised-button color="accent"><mat-icon>info</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
</div>
</mat-grid-list>