body{
    font: 100%/1.5 arial, verdana, tahoma;
}

.container {
    /* border: 2px solid black; */
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

header, footer{
    background-color: silver;
    color: white;
    min-height: 100px;
}

main{
    background-color: cyan;
    color: black;
    height: 500px;
}

header h1 {
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

header li {
    border-bottom: 2px solid black;
    background-color: whitesmoke;
    text-align: center;
    line-height: 2.5;
}

header li:first-child{
    border-top: 2px solid black;
}

header a{
    text-decoration: none;
    color: royalblue;
    display: block; /*Torna toda a "célula" cliclável*/
}

.menu {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .menu{
        flex-direction: row;
    }

    .menu-iten{
    border-top: 2px solid black;
    flex-grow: 1;
}
}